* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #bdc1c6;
}

a {
  text-decoration: none;
  color: #9aa0a6;
  align-self: center;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: #202124;
  font-size: 1.6rem;
  height: 100vh;
}

/* header */

nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 16px 15px 16px 0px;
}

nav img:hover {
  box-shadow: 0px 0px 0px 4px #9aa0a62c;
}

nav .nav-menu_productos:hover {
  box-shadow: 0px 0px 0px 10px #9aa0a62c;
}

.nav-menu_productos {
  display: flex;
  flex-wrap: wrap;
  width: 18px;
  border-radius: 50%;
}
.nav-menu_productos .circulo {
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 1px;
}

.nav-menu_img {
  border-radius: 50%;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-imagen img {
  width: 375px;
  height: 145px;
}

.main-buscador {
  display: flex;
  flex-direction: column;
}

.main-buscador_barra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 26px;
  height: 44px;
  width: 584px;
  border: 1px solid #474a4e;
  border-radius: 24px;
  background-color: #202124;
}
.main-buscador_barra input {
  background-color: transparent;
  border: none;
  width: 487px;
  height: 34px;
  color: #e8eaed;
  font-size: 1.6rem;
}
.main-buscador_barra:hover {
  background-color: #303134;
  box-shadow: 0 0px 5px rgba(23, 23, 23, 0.24);
  color: #e8eaed;
  border: 1px solid #303134;
}

.main-buscador_barra input:hover {
  background-color: #303134;
}

.main-buscador_barra input:focus-visible {
  outline: none;
  border: none;
}

.main-buscador_lupa {
  width: 20px;
  height: 20px;
}
.main-buscador_microfono div{
  background-image: url("https://cdn.icon-icons.com/icons2/2642/PNG/512/google_mic_logo_icon_159335.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 3px 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.main-buscador_botones {
  display: flex;
  justify-content: center;
}
.main-buscador_botones input {
  background-color: #303134;
  color: #dfdfdf;
  font-size: 1.4rem;
  width: 156px;
  height: 36px;
  margin-left: 12px;
  margin-top: 29px;
  border: none;
  border-radius: 4px;
}

.main-texto {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 29px;
}
.main-texto p {
  margin-right: 10px;
}

.main-texto a {
  color: #8ab4f8;
}

/* Footer */
footer {
  margin-top: 140px;
  width: 100%;
  background-color: #171717;
}
.footer-div {
  height: 48px;
  border-bottom: 0.5px solid #474a4e65;
  display: flex;
}

.footer-div_inferior a {
  padding: 15px;
}

footer p {
  color: #9aa0a6;
  margin: auto 0 auto 30px;
  font-size: 1.5rem;
}
.footer-div_inferior {
  display: flex;
  justify-content: space-between;
  height: 46px;
  align-items: center;
  font-size: 1.4rem;
  margin: 0 20px 0 10px;
}
